.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: var(--pixel-grey);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 180px;
  margin: auto 30px;
  position: absolute;
}

.image {
  margin: auto;
  height: 50px;
  margin-top: 10px;
}

.button {
  font-size: 12px;
  padding: 0 4px;
  position: relative;
  left: 0px;
  bottom:10px;
}

.modal h2 {
  font-family: var(--font-press-start-2p);
  color: var(--main-color);
  text-align: center;
  margin: auto;
}

@media (min-width: 404px) {
  .modal h2{
    width: 240px;
  }
}   


@media (min-width: 1024px) {
  .modal h2{
    font-size: 30px;
    width: 440px;
  }

  .modal {
    height: 240px;
  }

  .button {
    font-size: 14px;
  }
}
