.content p {  
  font-size: 14px;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* number of lines to show */
  line-clamp: 6; 
  -webkit-box-orient: vertical;
  color: var(--pixel-grey);
}    

@media (min-width: 640px) {
  .content p {
    font-size: 16px;
    text-align: start;
  } 
}   

@media (min-width: 1024px) {
  .content p {
    text-align: start;
  } 
}

@media (min-width: 1280px) {
  .content p {
    font-size: 20px;
    text-align: start;
  } 
}
