@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --black: #000;
  --main-color: #023047;
  --secondary-color: #FA8400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
div {
  background-color: var(--main-color);
  color: var(--white);
}

p {
  font-family: var(--font-montserrat);
  font-size: 1.25rem
}

h1 {
  font-family: var(--font-press-start-2p);
  font-size: 2.5rem;
  color: var(--secondary-color);
}

span {
  color: white;
}

button {
  font-family: var(--font-montserrat);
  background-color: var(--secondary-color);
  color: var(--main-color);
  font-size: 1.25rem;
}